<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://th.bing.com/th/id/OIP.Pg3OT493OEFJtAFFbWJC5wHaEC?rs=1&pid=ImgDetMain"
        cardTitle="SAIU NOVA VERSÃO DO ANGULAR"
        cardDescription="A nova versão do Angular traz melhorias em performance, 
        ferramentas de desenvolvimento e integração com bibliotecas de terceiros, 
        facilitando a criação de interfaces mais rápidas e dinâmicas. Além disso, 
        aprimora o Angular CLI para fluxos de trabalho otimizados, 
        fortalecendo o framework para aplicações escaláveis e robustas."
        >
    </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card photoCover="https://th.bing.com/th/id/OIP.n8U4rv2nBVWgMGXp90lozwHaE8?w=262&h=180&c=7&r=0&o=5&pid=1.7"
        cardTitle="Expansão do Uso de IA e Machine Learning no Desenvolvimento de Software"></app-small-card>

        <app-small-card photoCover="https://th.bing.com/th/id/OIP.MwhkFm34l_NRucCJcVq7rAHaD5?w=305&h=180&c=7&r=0&o=5&pid=1.7"
        cardTitle="Ascensão de Clientes Automatizados na IoT"></app-small-card>

        <app-small-card photoCover="https://thumbs.dreamstime.com/b/symbolic-depiction-ethical-global-ai-impact-human-ai-figures-holding-globe-ai-ethics-symbolic-depiction-ethical-321252051.jpg"
        cardTitle="Avanços no Desenvolvimento Sustentável de Software"></app-small-card>
    </div>
</div>
